.button {
    height: 40px;
    width: 100px;
    cursor: pointer;
    background-color: white;   
    border: 3px solid black;
    &:hover {
        box-shadow: 3px 3px 20px black;
    }
    &_i {
        height: 40px;
        width: 40px;
        border-radius: 100%;
    }
    &_u {
        margin-top: 15px;
    }
}