html {
    font-family: sans-serif;
}
body {
    height: 100%;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

@import 'blocks/header';
@import 'blocks/table';
@import 'blocks/footer';
@import 'blocks/button';
@import 'blocks/modal';



