<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Library</title>
        <link rel="stylesheet" href="../static/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="bootstrap-reboot.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header__logo">
                    <img src="img/logo.png" alt="logo" class="header__img">
                    <div class="header__text">
                        <a href="index.html">Library</a>
                    </div>
                </div>
                <div class="header__menu">
                    <a href="index.html"  class="header__books">BOOKS</a>
                    <a href="readers.html" class="header__readers">READERS</a>
                </div>
            </div>
        </header>

        
        <div class="table__users">
            <div class="container">
                <div class="table__grid">
                    <div>
                        <img class="table__userimg" src="icons/user.png" alt="user">
                    </div>
                    <div>
                        <div class="table__userinfo">
                            <div>                    
                                <div>name</div>
                                <div>surname</div>
                                <div>adress</div>
                                <div>email</div>
                                
                            </div>
                            <div class="table__footbutton">
                                <button data-modal="userdelete" class="button button_u table__add">delete</button>
                                <button data-modal="search" class="button button_u table__search">search</button>
                            </div>
                        </div>
                    </div>
                    <div>

                        <div class="table" id="userbooks">
                            <div class="table__border">
                                <div class="table__header">
                                    <div class="table__colomn">book</div>
                                    <div class="table__colomn">author</div>
                                    <div class="table__colomn">date</div>
                                    <div class="table__colomn">give in</div>
                                </div>
                                <div class="table__scroll table__scroll-userbook">
                                    <table cellpadding="7">
                                        <tr class="table__user">
                                            <td class="table__colomn table__book">book</td>
                                            <td class="table__colomn table__author">author</td>
                                            <td class="table__colomn table__date">date</td>
                                            <td class="table__colomn table__button">
                                                <button data-modal="userbooksgivein" class="button">give in</button>
                                            </td>
                                        </tr>
                                        <tr class="table__user">
                                            <td class="table__colomn table__book">book</td>
                                            <td class="table__colomn table__author">author</td>
                                            <td class="table__colomn table__date">date</td>
                                            <td class="table__colomn table__button">
                                                <button data-modal="userbooksgivein" class="button">give in</button>
                                            </td>
                                        </tr>
                                        <tr class="table__user">
                                            <td class="table__colomn table__book">book</td>
                                            <td class="table__colomn table__author">author</td>
                                            <td class="table__colomn table__date">date</td>
                                            <td class="table__colomn table__button">
                                                <button data-modal="userbooksgivein" class="button">give in</button>
                                            </td>
                                        </tr> 
                                        <tr class="table__user">
                                            <td class="table__colomn table__book">book</td>
                                            <td class="table__colomn table__author">author</td>
                                            <td class="table__colomn table__date">date</td>
                                            <td class="table__colomn table__button">
                                                <button data-modal="userbooksgivein" class="button">give in</button>
                                            </td>
                                        </tr>  
                                        <tr class="table__user">
                                            <td class="table__colomn table__book">book</td>
                                            <td class="table__colomn table__author">author</td>
                                            <td class="table__colomn table__date">date</td>
                                            <td class="table__colomn table__button">
                                                <button data-modal="userbooksgivein" class="button">give in</button>
                                            </td>
                                        </tr>  
                                        <tr class="table__user">
                                            <td class="table__colomn table__book">book</td>
                                            <td class="table__colomn table__author">author</td>
                                            <td class="table__colomn table__date">date</td>
                                            <td class="table__colomn table__button">
                                                <button data-modal="userbooksgivein" class="button">give in</button>
                                            </td>
                                        </tr>
                                        <tr class="table__user">
                                            <td class="table__colomn table__book">book</td>
                                            <td class="table__colomn table__author">author</td>
                                            <td class="table__colomn table__date">date</td>
                                            <td class="table__colomn table__button">
                                                <button data-modal="userbooksgivein" class="button">give in</button>
                                            </td>
                                        </tr>
                                        <tr class="table__user">
                                            <td class="table__colomn table__book">book</td>
                                            <td class="table__colomn table__author">author</td>
                                            <td class="table__colomn table__date">date</td>
                                            <td class="table__colomn table__button">
                                                <button data-modal="userbooksgivein" class="button">give in</button>
                                            </td>
                                        </tr> 
                                        <tr class="table__user">
                                            <td class="table__colomn table__book">book</td>
                                            <td class="table__colomn table__author">author</td>
                                            <td class="table__colomn table__date">date</td>
                                            <td class="table__colomn table__button">
                                                <button data-modal="userbooksgivein" class="button">give in</button>
                                            </td>
                                        </tr>  
                                        <tr class="table__user">
                                            <td class="table__colomn table__book">book</td>
                                            <td class="table__colomn table__author">author</td>
                                            <td class="table__colomn table__date">date</td>
                                            <td class="table__colomn table__button">
                                                <button data-modal="userbooksgivein" class="button">give in</button>
                                            </td>
                                        </tr>                 
                                    </table>
                                </div>
                                
            
                            </div>
            
                        </div>

                    </div>
                </div>

                
            </div>
        </div>        
        

        <footer class="footer">
        </footer>

        
        
        <div class="overlay">

            <!--add-->
            <div class="modal modal_add" id="add">
                <div class="modal__close">
                    &times;
                </div>
                <form th:action="@{/addBook}" method="post">
                    <input name="name" required placeholder="Name" type="text">
                    <input name="author" required placeholder="Surname" type="text">
                    <div class="modal__button">
                        <div>
                            <button type="submit" class="button">ok</button>
                        </div>
                    </div>
                </form>

            </div>

            
            <!-- books add -->        
            <div class="modal modal_add" id="booksadd">
                <div class="modal__close">
                    &times;
                </div>
                <form th:action="@{/addBook}" method="post">
                    <input name="book" required placeholder="Book" type="text">
                    <input name="author" required placeholder="Author" type="text">
                    <div class="modal__button">
                        <div>
                            <button type="submit" class="button">ok</button>
                        </div>
                    </div>
                </form>

            </div>

            <!-- readers add --> 
            <div class="modal modal_add" id="readersadd">
                <div class="modal__close">
                    &times;
                </div>
                <form th:action="@{/addReader}" method="post">
                    <input name="name" required placeholder="Name" type="text">
                    <input name="surname" required placeholder="Surname" type="text">
                    <div class="modal__button">
                        <div>
                            <button type="submit" class="button">ok</button>
                        </div>
                    </div>
                </form>

            </div>

<!--            find Books By Author or book's name-->
            <div class="modal modal_search" id="search">
                <div class="modal__close">
                    &times;
                </div>
                <form th:action="@{/searchBook}" method="get">
                    <select name="filter" id="filter">
                        <option value="book">Book</option>
                        <option value="author">Author</option>
                    </select>
                    <input name="name" required placeholder="Search" type="text">
                    <div class="modal__button">
                        <div>
                            <button type="submit" class="button">ok</button>
                        </div>
                    </div>
                </form>
                        
            </div> 
        </div>
        <script src="../static/js/jquery-3.5.1.min.js"></script>
        <script src="../static/js/script.js"></script>
        <script src="js/jquery-3.5.1.min.js"></script>
        <script src="js/script.js"></script>
    </body>

</html>